<body  style ="background-color:#D8D8D8;">
<div class= "wrapper">
  <div id="first">

<%= image_tag("stamp.jpg", :alt => "rss feed", :size => "600x600",:class => "style_image") %>


  </div>


<div class="col-md-4">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
   <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>
   <div><%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>

</div>
</body>
