

       
<div class="wrapper">
    

<% @share.each do |s| -%>
  <% user = User.find(s.shared_to) %>

  <% a = Album.find(s.album_id) %>
<div class="album_box">
	<div class="imgs">
Shared to: <b><%= user.username %></b><br>
<%= image_tag a.image.url, :size => "50x50" %>
</div>
<%= link_to a.album_name, :controller => 'albums', :action => "show", :id =>(a.id) %> 
<br>
<table>
	<tr>
		<td>

  <%= link_to 'share', :controller => 'shares', :action => "index", :id =>(a.id) , :style =>"float: center"%></td>
  <% if (current_user.id == s.user_id) %>
 <td> <%= form_for :share, :url => share_path((s.id)),
                           :method => 'DELETE',
                           :role => :form do |f| %>
                           
              <%= f.submit 'unshare', :class => 'btn btn-link text-success smaller', :style =>"float:left" %>

              <% end %></td> <% end %>
          </tr>
      </table>
            
</div>
<% end %>

</div>