<div class="row">
	<div id="wrapper">

<% if (@id ==1) %>

	<%= form_tag("/stamps/index_by_country", method: "get") do %>

  	<%= label_tag(:country_id, "Country :") %>

  	<%= select_tag(:country_id,options_from_collection_for_select(@country, "id", "name")) %>

  	<%= submit_tag("Search") %>
  	<% end %>
 <% else %>
  	<%= form_tag("/stamps/index_by_category", method: "get") do %>

 	 <%= label_tag(:category_id, "Category:") %>

  	<%= select_tag(:category_id,options_from_collection_for_select(@category, "id", "name")) %>

  	<%= submit_tag("Search") %>
<% end %>
<% end %>

</div>
</div>
