<!DOCTYPE html>
<html>
<head>
  <title>Countries</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div>
	<%= render template: "countries/new" %>
</div>



<div class ="table1">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Country Name</th>
			
		</tr>
	</thead>
	<tbody>
	<% @country.each do |c| -%>	
	 	<tr>
	 		
	 		<td><%= c.name %></td>
	 		

	 		<td><%= form_for :country, :url => country_path((c.id)),
                           :method => 'DELETE',
                           :role => :form do |f| %>
                           
              <%= f.submit 'Delete', :class => 'btn btn-link text-success smaller' %></td>
	 		<td>
	 			
	 		<% end %>

	 	</tr>

<% end %>
</tbody>
</table>
</div>

</body>
</html>
